extend ../layout
block content
  .container
    .row
      form.form-horizontal(method='post',action="/admin/category")
        .form-group
          label.col-sm-2.control-label(for="inputCategory") 电影分类
          .col-sm-10
            input#inputCategory.col-sm-10.form-control(type="text",name="category[name]" value=category.name)
        .form-actions
          button(type='submit',style='float:right' class='btn btn-primary') 提交