extends ../layout

block content
  .container
    .row
      each cat in categories
        .panel.panel-primary
          .pane-heading
            h3 #{cat.name}
          .panel-body
            if cat.movies && cat.movies.length > 0
              each item in cat.movies
                .col-md-2
                  .thumbnail
                    a(href="/movie/#{item._id}")
                      img(src="#{item.poster}", alt="#{item.title}")
                    .caption
                      h3 #{item.title}
                      p: a.btn.btn-primary(href="/movie/#{item._id}", role="button") 观看预告片